<div class="navbar navbar-expand-sm navbar-light navbar">
  <a class="navbar-brand" href=""/cocktails>
    <img src="https://i.pinimg.com/originals/aa/e1/26/aae1268e781e0bace98a96de6cf37e92.jpg" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<h1><strong> <%= current_user %> Cocktails</strong></h1>
<h5>Create your own cocktails list! Sign up now!</h5>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <% if user_signed_in? %>
        <a><%= link_to 'Add a cocktail', new_cocktail_path(@cocktail) %></a>
        <a><%= link_to 'Edit my information', edit_user_registration_path %></a>
        <% else %>
        <a><%= link_to 'Sign up', new_user_registration_path %></a>
        <a><%= link_to 'Log in', user_session_path %></a>
        <% end %>
      </li>
    </ul>
  </div>
</div>


  <div class="container pad20 text-center">

  <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-description">
        </div>
      <h3><%= link_to cocktail.name, cocktail_path(cocktail), class: "card-link" %></h3>
      </div>
    </div>
      <% end %>

  </div>

